In [ ]:
df <- read.csv("/content/addicts.txt", sep = "\t")
df <- na.omit(df)
head(df)

  prcod intpla sex age educat curwor asi1_med asi2_emp asi3_alc asi4_dr ⋯ ha se
1 4     1      0   18  1      1      0.19     0.70     0.120    0.30    ⋯ 1  0
2 2     2      1   30  4      1      0.44     0.23     0.006    0.27    ⋯ 0  0
3 2     1      0   23  2      0      0.50     1.00     0.300    0.30    ⋯ 0  0
4 4     1      0   20  2      1      0.00     0.80     0.050    0.26    ⋯ 1  0
5 3     2      0   20  2      0      0.00     0.75     0.780    0.23    ⋯ 0  0
6 1     1      0   24  2      0      0.52     0.50     0.100    0.30    ⋯ 0  0
  cravin rabdru rubsex gaf bdi sstati end endpo
1  4.6    1     4      55  25  60     0   5
2  9.7    4     5      55  39  50     0   5
3  9.5    6     1      45  29  55     0   2
4  2.7   11     4      40  28  58     0   5
5  3.0   19     4      40  28  58     0   2
6 10.0    3     2      41  33  68     0   2

In [ ]:
names(df)

 [1] "prcod"     "intpla"    "sex"       "age"       "educat"    "curwor"
 [7] "asi1_med"  "asi2_emp"  "asi3_alc"  "asi4_dr"   "asi5_leg"  "asi6_fam"
[13] "asi7_psy"  "asid3_dyr" "tlfba2"    "tlfbh2"    "st"        "ha"
[19] "se"        "cravin"    "rabdru"    "rubsex"    "gaf"       "bdi"
[25] "sstati"    "end"       "endpo"

Оставим нужные признаки.

In [ ]:
df_hot <- df[, c('asi1_med','asi2_emp','asi3_alc','asi4_dr','asi5_leg','asi6_fam','asi7_psy','asid3_dyr', 'se', 'prcod')]
head(df_hot)

  asi1_med asi2_emp asi3_alc asi4_dr asi5_leg asi6_fam asi7_psy asid3_dyr se
1 0.19     0.70     0.120    0.30    0.06     0.50     0.20     3         0
2 0.44     0.23     0.006    0.27    0.00     0.62     0.00     1         0
3 0.50     1.00     0.300    0.30    0.07     0.60     0.20     5         0
4 0.00     0.80     0.050    0.26    0.00     0.39     0.22     2         0
5 0.00     0.75     0.780    0.23    0.00     0.70     0.61     4         0
6 0.52     0.50     0.100    0.30    0.07     0.63     0.49     3         0
  prcod
1 4
2 2
3 2
4 4
5 3
6 1

### Однородность независимых выборок

In [ ]:
install.packages("Hotelling")
library(Hotelling)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘pcaPP’, ‘DEoptimR’, ‘rrcov’, ‘mvtnorm’, ‘robustbase’



Attaching package: ‘MVTests’


The following object is masked from ‘package:datasets’:

    iris

In [ ]:
df0 <- df_hot[df_hot$se == 0, ]
df1 <- df_hot[df_hot$se == 1, ]
head(df1)

   asi1_med asi2_emp asi3_alc asi4_dr asi5_leg asi6_fam asi7_psy asid3_dyr se
31 0.00     1        0.08     0.27    0.20     0.63     0.54     4         1
34 0.57     1        0.01     0.27    0.02     0.33     0.66     3         1
47 0.00     1        0.79     0.66    0.80     0.05     0.41     5         1
48 0.00     1        0.01     0.24    0.00     0.04     0.38     1         1
59 0.00     1        0.00     0.22    0.60     0.60     0.51     1         1
61 0.00     1        0.00     0.30    0.40     0.35     0.00     4         1
   prcod
31 2
34 2
47 3
48 3
59 4
61 1

In [ ]:
print(hotelling.test(df0[, 1:8], df1[, 1:8]))

Test stat:  67.203
Numerator df:  8
Denominator df:  262
P-value:  7.055e-10

In [ ]:
install.packages("MVTests")
library(MVTests)

Installing package into ‘/usr/local/lib/R/site-library’
(as ‘lib’ is unspecified)

also installing the dependencies ‘pcaPP’, ‘DEoptimR’, ‘rrcov’, ‘mvtnorm’, ‘robustbase’



Attaching package: ‘MVTests’


The following object is masked from ‘package:datasets’:

    iris

In [ ]:
df_hot[df_hot$se == 0, ]$se <- 2
head(df_hot)

  asi1_med asi2_emp asi3_alc asi4_dr asi5_leg asi6_fam asi7_psy asid3_dyr se
1 0.19     0.70     0.120    0.30    0.06     0.50     0.20     3         2
2 0.44     0.23     0.006    0.27    0.00     0.62     0.00     1         2
3 0.50     1.00     0.300    0.30    0.07     0.60     0.20     5         2
4 0.00     0.80     0.050    0.26    0.00     0.39     0.22     2         2
5 0.00     0.75     0.780    0.23    0.00     0.70     0.61     4         2
6 0.52     0.50     0.100    0.30    0.07     0.63     0.49     3         2
  prcod
1 4
2 2
3 2
4 4
5 3
6 1

In [ ]:
se_vec <- df_hot$se

In [ ]:
result <- TwoSamplesHT2(data=df_hot[,1:8], group=se_vec, alpha = 0.05)
summary(result)

              Two Independent Samples Hotelling T Square Test

Hotelling T Sqaure Statistic = 67.20338
 F value = 8.182 , df1 = 8 , df2 = 262 , p-value: 7.05e-10

   	       Descriptive Statistics (The First Group)

       asi1_med  asi2_emp   asi3_alc    asi4_dr  asi5_leg  asi6_fam  asi7_psy
Means 0.2457813 0.8578125 0.05828125 0.28781250 0.2325000 0.3551563 0.3637500
Sd    0.2969785 0.2094700 0.10894173 0.06825416 0.2693437 0.2543962 0.1927619
      asid3_dyr
Means  4.046875
Sd     3.185681


   	       Descriptive Statistics (The Second Group)

       asi1_med  asi2_emp   asi3_alc    asi4_dr  asi5_leg  asi6_fam  asi7_psy
Means 0.2482609 0.7577778 0.08756522 0.27599034 0.1296473 0.4391643 0.2301256
Sd    0.2619158 0.2839405 0.10400044 0.05176365 0.1774988 0.2475490 0.1706634
      asid3_dyr
Means  3.495169
Sd     1.974344


  	       Detection important variable(s)

                Lower      Upper Important Variables?
asi1_med  -0.15827685 0.15331761                FALSE
asi2_emp  -0.05450928 0.25457872                FALSE
asi3_alc  -0.08985470 0.03128676                FALSE
asi4_dr   -0.02046335 0.04410767                FALSE
asi5_leg  -0.01392212 0.21962743                FALSE
asi6_fam  -0.22750098 0.05948498                FALSE
asi7_psy   0.03221811 0.23503068               *TRUE*
asid3_dyr -0.78180217 1.88521400                FALSE

Различие значимо, выборки неоднородны.

### Гипотеза о равенстве $H_0: \mu = \mu_0$

Вычислим $\mu_0$ - вектор средних при условии `prcod = 2`.

In [ ]:
df_hot1 = df_hot[, -9]
head(df_hot1)

  asi1_med asi2_emp asi3_alc asi4_dr asi5_leg asi6_fam asi7_psy asid3_dyr prcod
1 0.19     0.70     0.120    0.30    0.06     0.50     0.20     3         4
2 0.44     0.23     0.006    0.27    0.00     0.62     0.00     1         2
3 0.50     1.00     0.300    0.30    0.07     0.60     0.20     5         2
4 0.00     0.80     0.050    0.26    0.00     0.39     0.22     2         4
5 0.00     0.75     0.780    0.23    0.00     0.70     0.61     4         3
6 0.52     0.50     0.100    0.30    0.07     0.63     0.49     3         1

In [ ]:
mean_prcod_2 = colMeans(df_hot1[df_hot1$prcod == 2, ])
mean_prcod_2

  asi1_med   asi2_emp   asi3_alc    asi4_dr   asi5_leg   asi6_fam   asi7_psy
0.25710145 0.82521739 0.07282609 0.28101449 0.17985507 0.42681159 0.24637681
 asid3_dyr      prcod
3.68115942 2.00000000

Далее применим тест Хотеллинга для проверки гипотезы о равенстве среднего вектору $\mu_0$.

In [ ]:
head(df_hot1[df_hot1$prcod == 2,])

   asi1_med asi2_emp asi3_alc asi4_dr asi5_leg asi6_fam asi7_psy asid3_dyr
2  0.44     0.23     0.006    0.27    0.00     0.62     0.00     1
3  0.50     1.00     0.300    0.30    0.07     0.60     0.20     5
10 0.16     1.00     0.020    0.29    0.00     0.00     0.47     5
11 0.00     0.96     0.000    0.34    0.19     0.63     0.46     2
12 0.70     0.19     0.100    0.30    0.06     0.30     0.29     5
17 0.40     1.00     0.160    0.30    0.05     0.30     0.80     8
   prcod
2  2
3  2
10 2
11 2
12 2
17 2

In [ ]:
head(df_hot1[df_hot1$prcod != 2, 1:8])
mean_prcod_2[1:8]

  asi1_med asi2_emp asi3_alc asi4_dr asi5_leg asi6_fam asi7_psy asid3_dyr
1 0.19     0.70     0.120    0.30    0.06     0.50     0.20     3.0
4 0.00     0.80     0.050    0.26    0.00     0.39     0.22     2.0
5 0.00     0.75     0.780    0.23    0.00     0.70     0.61     4.0
6 0.52     0.50     0.100    0.30    0.07     0.63     0.49     3.0
7 0.00     1.00     0.088    0.42    0.15     0.95     0.34     4.0
8 0.00     0.24     0.040    0.28    0.14     0.73     0.34     2.5

  asi1_med   asi2_emp   asi3_alc    asi4_dr   asi5_leg   asi6_fam   asi7_psy
0.25710145 0.82521739 0.07282609 0.28101449 0.17985507 0.42681159 0.24637681
 asid3_dyr
3.68115942

In [ ]:
OneSampleHT2(df_hot1[df_hot1$prcod != 2, 1:8], mu0 = mean_prcod_2[1:8], alpha = 0.05)

$HT2
         [,1]
[1,] 25.47983

$F
         [,1]
[1,] 3.074059

$df
[1]   8 194

$p.value
            [,1]
[1,] 0.002770727

$CI
               Lower     Upper        Mu0 Important Variables?
asi1_med  0.16668673 0.3222242 0.25710145                FALSE
asi2_emp  0.68923358 0.8436377 0.82521739                FALSE
asi3_alc  0.05148929 0.1151543 0.07282609                FALSE
asi4_dr   0.26165520 0.2943844 0.28101449                FALSE
asi5_leg  0.08930784 0.2008605 0.17985507                FALSE
asi6_fam  0.34506954 0.4884651 0.42681159                FALSE
asi7_psy  0.21437072 0.3194511 0.24637681                FALSE
asid3_dyr 2.89863019 4.3142411 3.68115942                FALSE

$alpha
[1] 0.05

$Descriptive
         asi1_med    asi2_emp     asi3_alc      asi4_dr    asi5_leg    asi6_fam
N     202.0000000 202.0000000 202.00000000 202.00000000 202.0000000 202.0000000
Means   0.2444554   0.7664356   0.08332178   0.27801980   0.1450842   0.4167673
Sd      0.2724003   0.2704155   0.11149959   0.05732025   0.1953676   0.2511357
         asi7_psy  asid3_dyr
N     202.0000000 202.000000
Means   0.2669109   3.606436
Sd      0.1840323   2.479229

$Test
[1] "OneSampleHT2"

attr(,"class")
[1] "MVTests" "list"

Гипотеза о равенстве вектора средних при `prcod != 2` вектору $\mu_0$ отвергается.

### Наличие выбросов

In [ ]:
df_hot0 <- df[, c('asi1_med','asi2_emp','asi3_alc','asi4_dr')]
head(df_hot0)

  asi1_med asi2_emp asi3_alc asi4_dr
1 0.19     0.70     0.120    0.30
2 0.44     0.23     0.006    0.27
3 0.50     1.00     0.300    0.30
4 0.00     0.80     0.050    0.26
5 0.00     0.75     0.780    0.23
6 0.52     0.50     0.100    0.30

Вычислим расстояния Махаланобиса.

In [ ]:
library(stats)

In [ ]:
df_hot0$mahalnobis<- mahalanobis(df_hot0, colMeans(df_hot0), cov(df_hot0))
head(df_hot0)

  asi1_med asi2_emp asi3_alc asi4_dr mahalnobis
1 0.19     0.70     0.120    0.30     0.3835866
2 0.44     0.23     0.006    0.27     5.0509994
3 0.50     1.00     0.300    0.30     5.7209275
4 0.00     0.80     0.050    0.26     0.9120479
5 0.00     0.75     0.780    0.23    55.7318789
6 0.52     0.50     0.100    0.30     2.0935703

Добавим значения p-value.

In [ ]:
df_hot0$pvalue <- pchisq(df_hot0$mahalnobis, df=3)
head(df_hot0)

  asi1_med asi2_emp asi3_alc asi4_dr mahalnobis pvalue
1 0.19     0.70     0.120    0.30     0.3835866 0.05638814
2 0.44     0.23     0.006    0.27     5.0509994 0.83189942
3 0.50     1.00     0.300    0.30     5.7209275 0.87399412
4 0.00     0.80     0.050    0.26     0.9120479 0.17748055
5 0.00     0.75     0.780    0.23    55.7318789 1.00000000
6 0.52     0.50     0.100    0.30     2.0935703 0.44678537

In [ ]:
df_hot0[df_hot0$pvalue < 0.05,]

    asi1_med asi2_emp asi3_alc asi4_dr mahalnobis pvalue
37  0.2      0.70     0.10     0.3     0.2931631  0.03869086
77  0.2      0.71     0.08     0.3     0.2837457  0.03694408
259 0.2      0.70     0.09     0.3     0.2883831  0.03780170

In [ ]:
df_hot0[df_hot0$pvalue == min(df_hot0$pvalue),]

   asi1_med asi2_emp asi3_alc asi4_dr mahalnobis pvalue
77 0.2      0.71     0.08     0.3     0.2837457  0.03694408

Исключим наблюдение с наименьшим p-value и повторим процесс.

In [ ]:
df_hot0 <- df_hot0[df_hot0$pvalue != min(df_hot0$pvalue),]
df_hot0$mahalnobis<- mahalanobis(df_hot0, colMeans(df_hot0), cov(df_hot0))
df_hot0$pvalue <- pchisq(df_hot0$mahalnobis, df=3)
df_hot0[df_hot0$pvalue < 0.05,]

     asi1_med asi2_emp asi3_alc asi4_dr mahalnobis pvalue

In [ ]:
df_hot0[df_hot0$pvalue == min(df_hot0$pvalue), ]

    asi1_med asi2_emp asi3_alc asi4_dr mahalnobis pvalue
105 0        1        0.03     0.26    1.781396   0.3810083

Так как теперь все p-value > 0.05, считается, что в выборке нет выбросов.